
<app-menu></app-menu>
<div class="container bg-white py-5 px-3 my-3 animated fadeIn">
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="assets/img/accesorios_para_motos/cascos/casco1.png" class="img-fluid" alt="casco 1">
    </div>
    <div class="col-12 col-md-6">
      <h3>Casco 1</h3>
      <h4>Descripcion</h4>
      <p>Se describe el casco 1, se describen sus principales caracteristicas.</p>
      <h4>Precio</h4>
      <p>L.300.00</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div>
<app-footer></app-footer>
