<app-menu></app-menu>
<h1 class="text-white text-center animated fadeIn fast">Promociones</h1>
<div class="container my-4 animated fadeIn fast">
  <div class="row">
    <div class="col-12 col-md-6 my-2 my-md-0">
      <div class="card">
        <img class="card-img-top" src="assets/img/promociones/motos/moto1.jpg" height="280" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Promociones Motos</h4>
          <a href="#" class="btn btn-danger btn-block">ir a promociones</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 my-2 my-md-0">
      <div class="card">
        <img class="card-img-top" src="assets/img/promociones/accesorios/accesorio1.jpg" height="280" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Promociones Accesorios</h4>
          <a href="#" class="btn btn-danger btn-block">ir a promociones</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
