<div class="container-fluid  motos animated fadeIn fast pb-0">
  <div class="row">
    <div class="col-6 col-sm-4 d-block col-sm-3 col-md-3 col-lg-2 p-0 px-1 py-1 hvr-grow">
      <img src="assets/img/motos/motos4.jpg"  class="img-fluid w-100 rounded" alt="">
      <span class="text-center text-white d-block font-weight-light">Moto ejemplo-1</span>
    </div>
    <div class="col-6 col-sm-4 d-block col-sm-3 col-md-3 col-lg-2 p-0 px-1 py-1 hvr-grow">
      <img src="assets/img/motos/motos4.jpg"  class="img-fluid w-100 rounded " a hvr-grow-shadowlt="">
      <span class="text-center text-white d-block font-weight-light">Moto ejemplo-2</span>
    </div>
    <div class="col-6 d-none col-sm-4 d-sm-block  col-sm-3  col-md-3 d-md-block col-lg-2 p-0 px-1 py-1 hvr-grow">
      <img src="assets/img/motos/motos4.jpg"  class="img-fluid w-100 rounded " alt="">
      <span class="text-center text-white d-block font-weight-light">Moto ejemplo-3</span>
    </div>
    <div class="col-6 col-sm-4 d-none col-sm-3 col-md-3 d-md-block col-lg-2 d-lg-block p-0 px-1 py-1 hvr-grow">
      <img src="assets/img/motos/motos4.jpg"  class="img-fluid w-100 rounded " alt="">
      <span class="text-center text-white d-block font-weight-light">Moto ejemplo-4</span>
    </div>
    <div class="col-6 col-sm-4 d-none col-sm-3 col-md-3 d-md-none col-lg-2 d-lg-block p-0 px-1 py-1 hvr-grow">
      <img src="assets/img/motos/motos4.jpg"  class="img-fluid w-100 rounded" alt="">
      <span class="text-center text-white d-block font-weight-light">Moto ejemplo-5</span>
    </div>
    <div class="col-6 col-sm-4 d-none col-sm-3 col-md-3 d-md-none col-lg-2 d-lg-block p-0 px-1 py-1 hvr-grow">
      <img src="assets/img/motos/motos4.jpg"  class="img-fluid w-100 rounded " alt="">
      <span class="text-center text-white d-block font-weight-light">Moto ejemplo-6</span>
    </div>
  </div>
  <div class="row pt-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
        <a href="" class="btn btn-danger btn-sm btn-block">Ver todas las  motocicletas</a>
      </div>
  </div>
</div>
<app-separador></app-separador>


