.motos
   {
    position: relative;
    top: -45px;
  }

  /* img {
    box-shadow: 3px 3px 8px rgb(34, 34, 34);
    border: 0.5px solid rgb(70, 70, 70);
  } */


.btn {
  border-radius: 30px;
}

