<div class="container fondo pt-4 pb-4 my-4">
  <form action="">
    <div class="row">
      <div class="col-12">
        <h3 class="text-white">CONTACTO</h3>
        <h5 class="text-white">Llamanos al 01800-368-8500 o dejanos un mensaje.</h5>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-6">
        <select name="tema" id="tema" class="form-control">
          <option value="">Tema</option>
        </select>
        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre*">
        <input type="text" class="form-control" name="apellido_paterno" id="apellido_paterno" placeholder="Apellido Paterno">
        <input type="text" class="form-control" name="apellido_materno" id="apellido_materno" placeholder="Apellido Materno*">
        <input type="email" class="form-control" name="correo" id="correo" placeholder="Correo*">
        <select name="estado" id="estado" class="form-control">
          <option value="">Estado*</option>
        </select>
        <input type="text" class="form-control" name="ciudad" id="ciudad" placeholder="Ciudad*">
        <input type="text" class="form-control" name="codigo_postal" id="codigo_postal" placeholder="C.P.">
        <input type="text" class="form-control" name="codigo_de_area" id="codigo_de_area" placeholder="Codigo de area">
        <input type="tel" class="form-control" name="telefono" id="telefono" placeholder="Telefono">
      </div>
      <div class="col-12 col-md-6">
        <textarea name="mensaje" id="mensaje" class="form-control mb-4" placeholder="Mensaje*"></textarea>
        <a href="" class="text-white float-left">Aviso de privacidad</a>
        <span class="text-white float-right">*Campos obligatotrios</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-danger float-right">Enviar</button>
      </div>
    </div>
  </form>
</div>
