<div class="container-fluid filosifia-fondo animated fadeIn fast">
  <div class="row pt-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12  col-xl-3  ml-auto">
      <h3 class="titulo1 pl-5">“El éxito es un 99 por ciento de fracaso”</h3>
      <h3 class="titulo2 pl-5">Soichiro Honda</h3>
    </div>
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12  col-xl-3  mr-sm-auto">
      <img src="assets/img/soichiro.png" class="img-fluid" width="280" alt="">
    </div>
  </div>
</div>
