<div class="container animated fadeIn fast">
  <div class="row">
    <div class="col-12 mx-auto">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-dark active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> TEGUCIGALPA
            </label>
            <label class="btn btn-dark">
              <input type="radio" name="options" id="option2" autocomplete="off"> S.P.S
            </label>
            <label class="btn btn-dark">
              <input type="radio" name="options" id="option3" autocomplete="off"> CEIBA
            </label>
            <label class="btn btn-dark">
                <input type="radio" name="options" id="option2" autocomplete="off"> PROGRESO
              </label>
              <label class="btn btn-dark">
                  <input type="radio" name="options" id="option2" autocomplete="off"> DANLI
                </label>
          </div>
    </div>
  </div>
  <div class="row fondo">
    <div class="col-12 text-white pt-4 pb-3">
      <p><strong>Direccion:</strong> Didemo Tegucigalpa, Comayagüela, primera avenida, una cuadra adelante del SANAA, a la par de Alucom.</p>
      <p>
        <strong>Telefono:</strong> 2237-5035
      </p>
      <p><strong>Correo electronico:</strong>
          hondahonduras@didemo.hn</p>
    </div>
  </div>
</div>
<div class="animated fadeIn fast">
  <iframe  class="w-100" [height]="alto"  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10871.589363648665!2d-87.98243955697666!3d15.554886180282052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2shn!4v1510240123537" frameborder="0" style="border:0" allowfullscreen>
  </iframe>
</div>
