<div class="container-fluid">
  <div class="row img-footer d-none d-md-none d-lg-block p-5">
   <img src="assets/img/img_honda_footer.png" width="180" class="float-left m-0" alt="">
   <img src="assets/img/img_didemo_footer.png" width="150" class="float-right"  alt="">
  </div>
  <div class="row">
    <div class="col-12 d-block d-md-block d-lg-none footer-secundario">

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center footer-fecha p-3">
      <span>HONDA DIDEMO 2017</span>
    </div>
  </div>
</div>
