<app-menu></app-menu>
<div class="container animated fadeIn fast pt-">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center text-white"><i class="fa fa-motorcycle mr-5 fa-2x" aria-hidden="true"></i>Talleres Autorizados</h3>
      <hr>
    </div>
  </div>
</div>
<div class="container animated fadeIn fast pb-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <div class="card-body">
              <h4 class="card-title text-center">SIGUATEPEQUE</h4>
              <a [routerLink]="['/talleres/tallerer-1']" class="btn btn-danger btn-block">Ir a talleres</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">

            <div class="card-body">
              <h4 class="card-title text-center">SANTA BARBARA</h4>
              <a href="#" class="btn btn-danger btn-block">Ir a talleres</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
      <div class="card w-100">
          <div class="card-body">
            <h4 class="card-title text-center">COPAN</h4>
            <a href="#" class="btn btn-danger btn-block">Ir a talleres</a>
          </div>
        </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
      <div class="card w-100">
          <div class="card-body">
            <h4 class="card-title text-center">LEMPIRA</h4>
            <a href="#" class="btn btn-danger btn-block">Ir a talleres</a>
          </div>
        </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
    <div class="card w-100">
        <div class="card-body">
          <h4 class="card-title text-center">SIGUATEPEQUE</h4>
          <a [routerLink]="['/accesorios/cascos']" class="btn btn-danger btn-block">Ir a talleres</a>
        </div>
      </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
    <div class="card w-100">

        <div class="card-body">
          <h4 class="card-title text-center">SANTA BARBARA</h4>
          <a href="#" class="btn btn-danger btn-block">Ir a talleres</a>
        </div>
      </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
  <div class="card w-100">
      <div class="card-body">
        <h4 class="card-title text-center">COPAN</h4>
        <a href="#" class="btn btn-danger btn-block">Ir a talleres</a>
      </div>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
  <div class="card w-100">
      <div class="card-body">
        <h4 class="card-title text-center">LEMPIRA</h4>
        <a href="#" class="btn btn-danger btn-block">Ir a talleres</a>
      </div>
    </div>
</div>
  </div>
</div>
<app-footer></app-footer>
