<div class="container animated fadeIn fast">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center text-white">Categorias Motos</h3>
    </div>
  </div>
</div>
<div class="container animated fadeIn fast">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-center">Cuatrimotos</h4>
              <a href="#" class="btn btn-danger btn-block">Ir a cuatrimotos</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-center">Pioneer</h4>
              <a [routerLink]="['/motos/pioneer']" class="btn btn-danger btn-block">Ir a motos Pioneer</a>
            </div>
          </div>
    </div>
  </div>
</div>



