<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center text-white text-uppercase">Motos pioneer</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/categorias_motos/categoria2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">Ver moto</button>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/categorias_motos/categoria2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger btn-block">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/categorias_motos/categoria2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger btn-block">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/categorias_motos/categoria2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger btn-block">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/categorias_motos/categoria2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger btn-block">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/categorias_motos/categoria2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger btn-block">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/categorias_motos/categoria2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger btn-block">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/categorias_motos/categoria2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger btn-block">Ver modelo</a>
            </div>
          </div>
    </div>
  </div>
</div>
<!-- Modal para mostrar la moto seleccionada -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Moto - Pioneer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
      <div class="container bg-white py-5 px-3 my-3 animated fadeIn">
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="assets/img/motos/categorias_motos/categoria2.jpg" class="img-fluid" alt="moto 1">
          </div>
          <div class="col-12 col-md-6">
            <h3>Moto 1</h3>
            <p>Categoria: Cuatrimotos</p>
            <h4>Descripcion</h4>
            <p>Se describe la moto 1, se describen sus principales caracteristicas.</p>
            <h4>Precio</h4>
            <h3 class="color-precio">L.30,000.00</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- / Modal para mostrar el accesorio seleccionado -->
