<app-menu></app-menu>
<h3 class="text-uppercase text-center text-white animated fadeIn fast"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> Servicio al cliente</h3>
<div class="container  pb-5 pt-2 animated fadeIn fast">
  <div class="row py-3">
    <div class="col-12 col-md-8 mx-auto">
      <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#comayaguela" aria-expanded="true" aria-controls="collapseOne">
               Comayaguela
              </a>
            </h5>
          </div>

          <div id="comayaguela" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Atencion al cliente Comayaguela
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#progreso" aria-expanded="true" aria-controls="collapseOne">
                Progreso
              </a>
            </h5>
          </div>

          <div id="progreso" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Atencion al cliente el Progreso
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#ceiba" aria-expanded="true" aria-controls="collapseOne">
                Ceiba
              </a>
            </h5>
          </div>

          <div id="ceiba" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Atencion al cliente Ceiba
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#sps" aria-expanded="true" aria-controls="collapseOne">
                San Pedro Sula
              </a>
            </h5>
          </div>

          <div id="sps" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Atencion al cliente San Pedro Sula
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tela
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Atencion al cliente Tela
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
