<app-menu></app-menu>

<div class="container animated fadeIn fast">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center text-white">Tiendas Didemo</h3>
      </div>
    </div>
  </div>
  <div class="container animated fadeIn fast">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
          <div class="card w-100">
              <img class="card-img-top" height="200" src="assets/img/tiendas/tienda1.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center">Comayagüela</h4>
                <button type="butto" class="btn btn-danger btn-block" data-toggle="modal" data-target=".modal-tienda">Ver tienda</button>
              </div>
            </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
          <div class="card w-100">
              <img class="card-img-top" height="200" src="assets/img/tiendas/tienda2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center">San Pedro Sula</h4>
                <a href="#" class="btn btn-danger btn-block">Ver tienda</a>
              </div>
            </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
          <div class="card w-100">
              <img class="card-img-top" height="200" src="assets/img/tiendas/tienda3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center">Ceiba</h4>
                <a href="#" class="btn btn-danger btn-block">Ver tienda</a>
              </div>
            </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
          <div class="card w-100">
              <img class="card-img-top" height="200" src="assets/img/tiendas/tienda4.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center">Progreso</h4>
                <a href="#" class="btn btn-danger btn-block">Ver tienda</a>
              </div>
            </div>
      </div>
      </div>
    </div>

<!-- Modal Tiendas-->
<div class="modal fade modal-tienda" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Tienda Comayagüela</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="container py-3">
                  <div class="row mb-2">
                    <div class="col-12 col-md-6">
                      <img src="assets/img/tiendas/tienda1.jpg" class="img-fluid" alt="tienda 1">
                    </div>
                    <div class="col-12 col-md-6">
                      <h3>Comayagüela</h3>
                      <p>
                        Honduras, primera avenida de comayagüela, una cuadra adelante del SANAA. a la par de ALUCOM
                        Tegucigalpa.</p>
                      <p>Llamar 2237-5035</p>
                      <p>@hondamotoshn</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <iframe  class="w-100" height="200"  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10871.589363648665!2d-87.98243955697666!3d15.554886180282052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2shn!4v1510240123537" frameborder="0" style="border:0" allowfullscreen>
                      </iframe>
                    </div>
                  </div>
                </div>
          </div>
    </div>
  </div>
</div>
<!-- / Modal Tiendas-->

<app-footer></app-footer>




