<app-menu></app-menu>
<div class="container animated fadeIn fast">
    <div class="row pt-3 pb-2">
        <div class="col-6">
          <h3 class="text-letf text-white text-uppercase d-inline">Cascos</h3>
        </div>
        <div class="col-4 ml-auto">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Buscar casco..." aria-label="Buscar casco...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Buscar</button>
            </span>
          </div>
        </div>
      </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="/assets/img/accesorios_para_motos/cascos/casco1.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Casco ***</h4>
              <p class="card-text">L.400.00</p>
              <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">Ver casco</button>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
      <div class="card w-100">
          <img class="card-img-top" src="/assets/img/accesorios_para_motos/cascos/casco1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Casco ***</h4>
            <p class="card-text">L.400.00</p>
            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">Ver casco</button>
          </div>
        </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
    <div class="card w-100">
        <img class="card-img-top" src="/assets/img/accesorios_para_motos/cascos/casco1.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Casco ***</h4>
          <p class="card-text">L.400.00</p>
          <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">Ver casco</button>
        </div>
      </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
  <div class="card w-100">
      <img class="card-img-top" src="/assets/img/accesorios_para_motos/cascos/casco1.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Casco ***</h4>
        <p class="card-text">L.400.00</p>
        <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">Ver casco</button>
      </div>
    </div>
</div>
  </div>
</div>
<!-- Modal para mostrar el accesorio seleccionado -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Accesorios - Cascos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
      <div class="container bg-white py-5 px-3 my-3 animated fadeIn">
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="assets/img/accesorios_para_motos/cascos/casco1.png" class="img-fluid" alt="casco 1">
          </div>
          <div class="col-12 col-md-6">
            <h3>Casco 1</h3>
            <h4>Descripcion</h4>
            <p>Se describe el casco 1, se describen sus principales caracteristicas.</p>
            <h4>Precio</h4>
            <p>L.300.00</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- / Modal para mostrar el accesorio seleccionado -->

<app-paginacion-accesorios></app-paginacion-accesorios>
<app-footer></app-footer>
