<div class="row mb-5 animated fadeIn fast">
  <div class="col-md-6 p-2">
    <div class="container fondo-modulo p-0">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6 alto-modulo">
          <img src="assets/img/carousel/img1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-12 col-lg-6 py-5 pl-4">
          <h2 class="titulo-1">TALLERES</h2>
          <h2 class="titulo-2">HAS TU CITA</h2>
          <div id="linea-inferior" class="d-none d-md-none d-lg-block"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-2">
      <div class="container fondo-modulo p-0">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 alto-modulo">
            <img src="assets/img/carousel/img2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-12 col-md-12 col-lg-6 py-5 pl-4">
            <h2 class="titulo-1">CREDI</h2>
            <h2 class="titulo-2">DEMO</h2>
            <div id="linea-inferior" class="d-none d-md-none d-lg-block"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-2">
      <div class="container fondo-modulo p-0">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 alto-modulo">
            <img src="assets/img/carousel/img1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-12 col-md-12 col-lg-6 py-5 pl-4">
            <h2 class="titulo-1">TIENDAS</h2>
            <h2 class="titulo-2">DIDEMO</h2>
            <div id="linea-inferior" class="d-none d-md-none d-lg-block"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-2">
        <div class="container fondo-modulo p-0">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 alto-modulo">
              <img src="assets/img/carousel/img2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-12 col-lg-6 py-5 pl-4">
              <h2 class="titulo-1">PROMO</h2>
              <h2 class="titulo-2">CIONES</h2>
              <div id="linea-inferior" class="d-none d-md-none d-lg-block"></div>
            </div>
          </div>
        </div>
      </div>
</div>

