.fondo-modulo {
  background-color: #191E22;
}

.titulo-1 {
  color: #EF1C2D;
}

.titulo-2 {
  color: #FDFFFE;
}

h2 {
  margin: 0;
  padding: 0;
}

#linea-inferior {
  width: 80px;
  height: 7px;
  background-color: #EF1C2D;
  position: absolute;
  top:150px;
}

/* .caja-sombra:hover {
  box-shadow: 0px 0px 5px white;
} */

.caja-sombra {
  transition: 0.3s all ease-in-out;
}

.fondo {
  background-color: white;
}

img {
  height: 100%;
}

a:hover {
  transition: 0.3s all ease-in-out;
}
/*
.modulo-alto {
  height: 200px;
} */
