<div class="row mb-5 ">
  <div class="caja-sombra col-12 col-md-6 p-2 mx-auto ">
    <div class="container fondo-modulo p-0 rounded hvr-glow">
      <div class="row modulo-alto">
        <div class="col-6 col-md-6 col-lg-6">
          <img src="assets/img/modulos/credidemo.jpg" class="img-fluid w-100 rounded-left" alt="">
        </div>
        <div class="col-6 col-md-6 col-lg-6 pl-0 pt-4 pb-2">
          <a [routerLink]="['/credidemo']">
            <h4 class="titulo-1 ">CREDI</h4>
            <h4 class="titulo-2 ">DEMO</h4>
          </a>
          <div id="linea-inferior" class="d-none d-md-none d-lg-block"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="caja-sombra col-12 col-md-6 p-2 mx-auto">
    <div class="container fondo-modulo p-0 rounded hvr-glow">
      <div class="row modulo-alto">
        <div class="col-6 col-md-6 col-lg-6">
          <img src="assets/img/modulos/taller_didemo.jpg" class="img-fluid w-100 rounded-left rounded-lg-left" alt="">
        </div>
        <div class="col-6 col-md-6 col-lg-6 pl-0 pt-4 pb-2">
          <a [routerLink]="['/talleres']">
            <h4 class="titulo-1">TALLERES</h4>
            <h4 class="titulo-2">CONTACTO</h4>
          </a>
          <div id="linea-inferior" class="d-none d-md-none d-lg-block"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="caja-sombra col-12 col-md-6 p-2 mx-auto">
    <div class="container fondo-modulo p-0 rounded hvr-glow">
      <div class="row modulo-alto">
        <div class="col-6 col-md-6 col-lg-6">
          <img src="assets/img/modulos/promociones.jpg" class="img-fluid w-100 rounded-left" alt="">
        </div>
        <div class="col-6 col-md-6 col-lg-6 pl-0 pt-4 pb-2">
          <a [routerLink]="['/tiendas']">
            <h4 class="titulo-1">TIENDAS</h4>
            <h4 class="titulo-2">DIDEMO</h4>
          </a>
          <div id="linea-inferior" class="d-none d-md-none d-lg-block"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="caja-sombra col-12 col-md-6 p-2 mx-auto">
    <div class="container fondo-modulo p-0 rounded hvr-glow">
      <div class="row modulo-alto">
        <div class="col-6 col-md-6 col-lg-6">
          <img src="assets/img/modulos/promociones.jpg" class="img-fluid w-100 rounded-left" alt="">
        </div>
        <div class="col-6 col-md-6 col-lg-6 pl-0 pt-4 pb-2">
          <a [routerLink]="['/promociones']">
            <h4 class="titulo-1">PROMO</h4>
            <h4 class="titulo-2">DIDEMO</h4>
          </a>
          <div id="linea-inferior" class="d-none d-md-none d-lg-block"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-separador></app-separador>
