<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center text-white text-uppercase">Motos pioneer</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger">Ver modelo</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Moto 123</h4>
              <p class="card-text">Precio: L.26,900.00</p>
              <a href="#" class="btn btn-danger">Ver modelo</a>
            </div>
          </div>
    </div>
  </div>
</div>
