<div class="container fondo pt-4 pb-4 my-4 animated fadeIn fast">
  <form action="">
    <div class="row">
      <div class="col-12">
        <h3 class="text-white">CONTACTANOS</h3>
        <h5 class="text-white">Llamanos al 2237-5035 o dejanos un mensaje.</h5>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-6">
          <select name="sucursal" id="sucursal" class="form-control">
              <option value="">Sucursal</option>
              <option value="">Comayaguela</option>
              <option value="">San Pedro Sula</option>
              <option value="">Ceiba</option>
              <option value="">Progreso</option>
              <option value="">Danli</option>
            </select>
        <select name="tema" id="tema" class="form-control">
          <option value="">Tema</option>
          <option value="">Venta</option>
          <option value="">Credito</option>
          <option value="">Placas</option>
          <option value="">Repuestos</option>
        </select>
        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre*">
        <input type="text" class="form-control" name="apellido_materno" id="apellido_materno" placeholder="Apellido*">
        <input type="email" class="form-control" name="correo" id="correo" placeholder="Correo*">
        <input type="tel" class="form-control" name="telefono" id="telefono" placeholder="Telefono">
      </div>
      <div class="col-12 col-md-6">
        <textarea name="mensaje" id="mensaje" class="form-control mb-4" placeholder="Mensaje*"></textarea>
        <a href="" class="text-white float-left">Aviso de privacidad</a>
        <span class="text-white float-right">*Campos obligatotrios</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit"  class="btn btn-danger float-right">Enviar mensaje</button>
      </div>
    </div>
  </form>
</div>

