<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center text-white">Categorias de Motos</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Cuatrimotos</h4>
              <p class="card-text">Una cuatrimoto es un vehículo de cuatro ruedas parecido a una motocicleta.</p>
              <a href="#" class="btn btn-danger">Ir a cuatrimotos</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-4">
        <div class="card w-100">
            <img class="card-img-top" src="assets/img/motos/moto1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Pioneer</h4>
              <p class="card-text">Una cuatrimoto es un vehículo de cuatro ruedas parecido a una motocicleta.</p>
              <a href="#" class="btn btn-danger">Ir a motos Pioneer</a>
            </div>
          </div>
    </div>
  </div>
</div>



