<app-menu></app-menu>
<div class="container py-4 animated fadeIn fast">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <img src="/assets/img/credidemo/credidemo.jpg" alt="imagen credidemo" class="img-fluid w-100 ">
      <p class="text-white pt-2 text-justify">CreDIDEMO, lanza  oficialmente  su nuevo sistema  de compra en cuotas  “CreDIDEMO Financiamiento a tu alcance”. y da inicio a escribir una nueva historia, DIDEMO es una empresa 100% hondureña, enfocada en brindar los mejores precios, productos a nivel nacional y a contribuir con la mejora de la calidad de vida de los hondureños, hoy  nace una nueva  historia  para Didemo  y para el pueblo Hondureño, DIDEMO abre sus puertas para ofrecer su nuevo sistema de compra en cuotas CREDIDEMO con  los mejores beneficios.</p>
      <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Requisitos para trámite de crédito de Credidemo <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">1. Solicitud de crédito debidamente llena</li>
                <li class="list-group-item">2. Comprobantes de ingresos (antigüedad laboral de 6 meses)</li>
                <li class="list-group-item">3. Puede ser constancia laboral (sellada, firmada y membretada)</li>
                <li class="list-group-item">4. También puede ser Libreta de ahorro o estada de cuenta de los últimos 6 meses</li>
                <li class="list-group-item">5. O Ultimo Boucher (depende si es mensual 1, si es quincenal 2)</li>
                <li class="list-group-item">6. Fotocopia de identidad, RTN, Licencia.</li>
                <li class="list-group-item">7. Fotocopia de recibo publico reciente</li>
                <li class="list-group-item">8. Croquis de vivienda y trabajo</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Si los ingresos provienen del negocio propio <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">1. Solicitud de crédito debidamente llena</li>
                <li class="list-group-item">2. Fotocopia del permiso de operación  y escritura de comerciante individual</li>
                <li class="list-group-item">3. Fotocopia de los últimos 6 estados de cuenta bancarios o estados financieros</li>
                <li class="list-group-item">4. Fotocopia de identidad, RTN, Licencia.</li>
                <li class="list-group-item">5. Fotocopia de recibo publico reciente</li>
                <li class="list-group-item">6. Fotocopia de identidad, RTN, Licencia.</li>
                <li class="list-group-item">7. Fotocopia de recibo publico reciente</li>
                <li class="list-group-item">8. Croquis de vivienda y trabajo</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <p class="text-white pt-2 text-justify">CREDIDEMO es una nueva alternativa de pago para que nuestros clientes puedan comprar a plazos sin preocuparse por el efectivo y sin necesidad de contar con otras alternativas de pago, es por esta razón que CREDIDEMO es el complemento perfecto para la oferta de DIDEMO.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
