div {
  position: fixed;
  background: #E2393E;
  right:0px;
  top: 30%;
  color: white;
  z-index: 7;
  border-radius: 15px 0 0 15px;
}

#redes-sociales a {
  color: white;
  text-decoration: none;
}

#redes-sociales a:hover {
  color: #D1CFCF;
  text-decoration: none;
}

