<div class="container-fluid">
  <div class="row fila1">
    <div class="columna1">
    </div>
    <div class="columna2  p-3 fondo-menu-secundario">
        <a  href="" class="float-md-right  float-none d-block d-md-inline"><i class="fa fa-user" aria-hidden="true"></i> Inicia Sesion</a>
        <a  href="" class="float-md-right  float-none d-block d-md-inline"><i class="fa fa-cogs" aria-hidden="true"></i> Talleres</a>
        <a  href="" class="float-md-right  float-none d-block d-md-inline"><i class="fa fa-phone" aria-hidden="true"></i> Servicio al cliente</a>
    </div>
  </div>
  <div class="row fila2">
    <div class="columna1">
      <img id="logo" src="assets/img/logo_menu_final.png" width="200" alt="">
    </div>
    <div class="columna2 p-2">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">MOTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">REPUESTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ACCESORIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">CREDITO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">CONTACTO</a>
            </li>
            <li class="nav-item">
                <input type="text" name="buscar" class="mt-2">
              </li>
          </ul>
    </div>
  </div>
  <div class="row fila3">
    <div class="columna1 pr-4">
      <h4 class="pl-5 ml-2 mt-1">DIDEMO</h4>
    </div>
    <div class="columna2">

    </div>
  </div>
</div>

