<div class="fondo-menu-secundario clearfix p-3">
  <a  href="" class="float-md-right  float-none d-block d-md-inline"><i class="fa fa-user" aria-hidden="true"></i> Inicia Sesion</a>
  <a  href="" class="float-md-right  float-none d-block d-md-inline"><i class="fa fa-cogs" aria-hidden="true"></i> Talleres</a>
  <a  href="" class="float-md-right  float-none d-block d-md-inline"><i class="fa fa-phone" aria-hidden="true"></i> Servicio al cliente</a>
</div>
<nav class="p-0 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand p-0 d-none d-sm-inline" href="#"><img width="220"  src="assets/img/logofooter.jpg" alt="logo" class="img-fluid"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">MOTOS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">REPUESTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ACCESORIOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CREDITO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACTO</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
    </form>
  </div>
</nav>
